.watson {
  p {
    font-size: 2.5rem;
    padding: 1.5rem;
    width: 100%;
  }
  button {
    font-size: 1rem;
    padding: 0.9rem;
    margin: 2rem 0.5rem;
    min-width: 12rem;
    i {
      font-size: 1.6rem;
      margin-right: 0.6rem;
    }
  }
  .stream {
    background-color: #fff;
    margin: 0 auto;
    width: 55rem;
    .mat-progress-bar {
      margin-top: -0.3rem;
      position: fixed;
      width: inherit;
    }
    .stream-content {
      display: flex;
      margin: 0 auto;
      min-height: 11rem;
      padding: 1rem;
      i {
        color: #ddd;
        font-size: 3rem;
      }
      .fa-quote-right {
        margin-left: auto;
      }
    }
  }
}
