.mat-progress-bar {
  position: fixed;
  top: 0;
}

.watson {
  p {
    font-size: 2.5rem;
    padding: 1.5rem;
    width: 100%;
  }
  button {
    font-size: 1rem;
    padding: 0.9rem;
    margin: 2rem 0.5rem;
    min-width: 12rem;
    i {
      font-size: 1.6rem;
      margin-right: 0.6rem;
    }
  }
  .text-stream {
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    margin: 2rem auto 0 auto;
    min-height: 11rem;
    padding: 1rem;
    width: 55rem;
    i {
      color: #ccc;
      font-size: 3rem;
    }
    .fa-quote-right {
      margin-left: auto;
    }
  }
}
